@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 4
        </Heading>
        <p>
            Thou hast heard me when I called upon Thee, O God of my righteouness; Thou hast set me at liberty when I was in trouble. Have pity upon me, and hear my prayer.
            <br/>
            O ye sons of men, how long will ye be slow of heart? Why love ye vanity, and seek after leasing? But know that the Lord hath made His holy one wonderful; the Lord will hear me when I cry unto Him.
            <br/>
            Be ye angry, and sin not; feel compunction upon your beds for what ye say in your hearts.
            <br/>
            Offer the sacrifice of righteousness, and put your hope in the Lord. There be many that say, Who will shew us good things? The light of Thy countenance is signed upon us, O Lord.
            <br/>
            Thou hast put gladness in my heart; from the fruit of their wheat, and wine and oil are they increased.
            <br/>
            I will both lay me down in peace and sleep; for Thou, Lord, only hast made me to dwell in hope.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 4
        </Heading>
        <p>
            Answer me when I call, O God of my righteousness! You have relieved my distress; show me grace and hear my prayer.
            <br/>
            How long, O men, will my honor be maligned? How long will you love vanity and seek after lies ? Selah
            <br/>
            Know that the LORD has set apart the godly for Himself; the LORD hears when I call to Him.
            <br/>
            Be angry, yet do not sin; on your bed, search your heart and be still. Selah
            <br/>
            Offer the sacrifices of the righteous and trust in the LORD.
            <br/>
            Many ask, “Who can show us the good?” Shine the light of Your face upon us, O LORD.
            <br/>
            You have filled my heart with more joy than when grain and new wine abound.
            <br/>
            I will lie down and sleep in peace, for You alone, O LORD, make me dwell in safety.
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
}
