@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 90
        </Heading>
        <p>

            He that dwelleth in the help of the Most High shall abide under the shelter of the God of heaven.
            <br/>
            He shall say unto the Lord, Thou art my helper and my refuge; He is my God, and in Him will I hope.
        </p>

        <p>
            For He shall deliver thee from the snare of the hunters, and from every sharp word.
            <br/>
            He shall overshadow thee with His shoulders, and under His wings shalt thou trust; His truth shall compass thee with a shield.
            <br/>
            Thou shalt not be afraid for the terror by night, 
            nor for the arrow that flieth by day; 
            nor for the thing that walketh in darkness, 
            nor for the mishap and the noonday devil.
            <br/>
            A thousand shall fall at thy side, and ten thousand at thy right hand; but it shall not come nigh thee.
            <br/>
            Only with thine eyes shalt thou behold, and see the reward of sinners.
            <br/>
            Because Thou, Lord, art my hope. Thou hast made the Most High thy refuge.
            <br/>
            There shall no evils befall thee, neither shall any plague come nigh thy dwelling.
            <br/>
            For He shall give His angels charge over thee, to keep thee in all thy ways.
            <br/>
            They shall bear thee up in their hands, lest at any time thou dash thy foot against a stone.
            <br/>
            Thou shalt tread upon the asp and basilisk, and the lion and the dragon shalt thou trample under foot.
            <br/>
            Because he hath set his hope in Me, I will deliver him; I will shelter him, because he hath known My name.
            <br/>
            He shall cry unto Me, and I will hearken unto him; I am with him in trouble, and I will deliver him, and glorify him.
            <br/>
            With length of days will I satisfy him, and shew him My salvation.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 90
        </Heading>
        <p>
            He who dwells in the shelter of the Most High will abide in the shadow of the Almighty.
            <br/>
            I will say to the LORD, “You are my refuge and my fortress, my God, in whom I trust.”
            <br/>
            Surely He will deliver you from the snare of the fowler, and from the deadly plague.
            <br/>
            He will cover you with His feathers; under His wings you will find refuge; His faithfulness is a shield and rampart.
            <br/>
            You will not fear the terror of the night, nor the arrow that flies by day,
            <br/>
            nor the pestilence that stalks in the darkness, nor the calamity that destroys at noon.
            <br/>
            Though a thousand may fall at your side, and ten thousand at your right hand, no harm will come near you.
            <br/>
            You will only see it with your eyes and witness the punishment of the wicked.
            <br/>
            Because you have made the LORD your dwelling— my refuge, the Most High—
            <br/>
            no evil will befall you, no plague will approach your tent.
            <br/>
            For He will command His angels concerning you to guard you in all your ways.
            <br/>
            They will lift you up in their hands, so that you will not strike your foot against a stone.
            <br/>
            You will tread on the lion and cobra; you will trample the young lion and serpent.
            <br/>
            “Because he loves Me, I will deliver him; because he knows My name, I will protect him.
            <br/>
            When he calls out to Me, I will answer him; I will be with him in trouble. I will deliver him and honor him.
            <br/>
            With long life I will satisfy him and show him My salvation.”
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
}
