@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 133
        </Heading>
        <p>
            Behold now, bless ye the Lord, all ye servants of the Lord, which stand in the house of the Lord, in the courts of the house of our God.
            <br />
            Lift up your hands by night unto the sanctuary, and bless the Lord.
            <br />
            The Lord that made heaven and earth bless thee out of Zion.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 133
        </Heading>
        <p>
            Come, bless the LORD, all you servants of the LORD who serve by night in the house of the LORD!
            <br />
            Lift up your hands to the sanctuary and bless the LORD!
            <br />
            May the LORD, the Maker of heaven and earth, bless you from Zion.
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
}
