@if (IsExpanded)
{
    <div class="expanded-content-container">
        <table>
            <tr>
                <td class="icon-cell">
                    <svg fill="#000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.00003 8.5C6.59557 8.5 6.23093 8.74364 6.07615 9.11732C5.92137 9.49099 6.00692 9.92111 6.29292 10.2071L11.2929 15.2071C11.6834 15.5976 12.3166 15.5976 12.7071 15.2071L17.7071 10.2071C17.9931 9.92111 18.0787 9.49099 17.9239 9.11732C17.7691 8.74364 17.4045 8.5 17 8.5H7.00003Z"></path> </g></svg>
                </td>
                <td class="content-cell">
                    <div class="expanded-content">
                        @(Expanded)
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
else
{
    <div class="collapsed-content-container">
        <table>
            <tr>
                <td class="icon-cell">
                    <svg fill="#000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 17C8.5 17.4045 8.74364 17.7691 9.11732 17.9239C9.49099 18.0787 9.92111 17.9931 10.2071 17.7071L15.2071 12.7071C15.5976 12.3166 15.5976 11.6834 15.2071 11.2929L10.2071 6.29289C9.92111 6.00689 9.49099 5.92134 9.11732 6.07612C8.74364 6.2309 8.5 6.59554 8.5 7V17Z"></path> </g></svg>
                </td>
                <td class="content-cell">
                    <div class="collapsed-content">
                        @(Collapsed)
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@code {
    [Parameter] public bool IsExpanded { get; set; } = true;

    [Parameter] public RenderFragment? Collapsed{ get; set; }
    [Parameter] public RenderFragment? Expanded{ get; set; }

    [Parameter] public EventCallback<bool> OnIsExpandedChanged { get; set; }

    private void ExpandClick(bool isExpanded)
    {
        IsExpanded = isExpanded;
        OnIsExpandedChanged.InvokeAsync();
    }

}
