
<InputSelect TValue="LanguageKindEnum"
             Value="SelectedLanguageKind"
             ValueExpression="@(() => SelectedLanguageKind)"
             ValueChanged="OnChanged">
    <option value="@LanguageKindEnum.EnglishMixed">English (mix)</option>
    <option value="@LanguageKindEnum.EnglishModern">English (modern)</option>
    <option value="@LanguageKindEnum.EnglishOlder">English (older)</option>
</InputSelect>


@code {
    [Inject]
    public NilsAppState NilsAppState { get; set; } = null!;

    private LanguageKindEnum SelectedLanguageKind { get; set; } = LanguageKindEnum.EnglishMixed;


    protected override async Task OnInitializedAsync()
    {
        await OnChanged(LanguageKindEnum.EnglishMixed);
        await base.OnInitializedAsync();
    }

    private async Task OnChanged(LanguageKindEnum selectedLanguageKind)
    {
        SelectedLanguageKind = selectedLanguageKind;
        NilsAppState.SelectedLanguageKind = selectedLanguageKind;
    }
}
