.loading-container {
    width: 97.5%;
    min-height: 400px;
    padding: 8px;
    background-color: #808080;
    border-radius: 6px;
    animation: pulse 1.2s infinite ease-in-out;
}

/* Animation keyframes */
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #808080;
    }

    50% {
        transform: scale(1);
        background-color: #d9cece;
    }

    100% {
        transform: scale(1);
        background-color: #808080;
    }
}
