@inherits OrthodoxPrayerBasePage

<Heading HeadingKind="HeadingKind">
    Psalm 22
</Heading>

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
    <p>
        <PrayerLine>Unto my words, give ear, O Lord;</PrayerLine>
        <PrayerLine>hear my cry.</PrayerLine>
        <PrayerLine>Attend unto the voice of my supplication,</PrayerLine>
        <PrayerLine>O my King and my God;</PrayerLine>
        <PrayerLine>for unto Thee will I pray, O Lord.</PrayerLine>
        <PrayerLine>In the morning Thou shalt hear my voice.</PrayerLine>
        <PrayerLine>In the morning shall I stand before Thee,</PrayerLine>
        <PrayerLine>and Thou shalt look upon me;</PrayerLine>
        <PrayerLine>for not a God that willest iniquity art Thou.</PrayerLine>
        <PrayerLine>He that worketh evil shall not dwell near Thee,</PrayerLine>
        <PrayerLine>nor shall transgressors abide before Thine eyes.</PrayerLine>
        <PrayerLine>Thou hast hated all them that work iniquity;</PrayerLine>
        <PrayerLine>Thou shalt destroy all them that speak a lie.</PrayerLine>
        <PrayerLine>A man that is bloody and deceitful shall the Lord abhor.</PrayerLine>
        <PrayerLine>But as for me, in the multitude of Thy mercy shall I go into Thy house;</PrayerLine>
        <PrayerLine>I shall worship toward Thy holy temple in fear of Thee.</PrayerLine>
        <PrayerLine>O Lord, guide me in the way of Thy righteousness;</PrayerLine>
        <PrayerLine>because of mine enemies, make straight my way before Thee.</PrayerLine>
        <PrayerLine>For in their mouth there is no truth;</PrayerLine>
        <PrayerLine>their heart is vain.</PrayerLine>
        <PrayerLine>Their throat is an open sepulchre,</PrayerLine>
        <PrayerLine>with their tongues have they spoken deceitfully;</PrayerLine>
        <PrayerLine>judge them, O God.</PrayerLine>
        <PrayerLine>Let them fall down on account of their own devisings;</PrayerLine>
        <PrayerLine>according to the multitude of their ungodliness,</PrayerLine>
        <PrayerLine>cast them out, for they have embittered Thee, O Lord.</PrayerLine>
        <PrayerLine>And let all them be glad that hope in Thee;</PrayerLine>
        <PrayerLine>they shall ever rejoice,</PrayerLine>
        <PrayerLine>and Thou shalt dwell among them.</PrayerLine>
        <PrayerLine>And all shall glory in Thee that love Thy name,</PrayerLine>
        <PrayerLine>for Thou shalt bless the righteous.</PrayerLine>
        <PrayerLine>O Lord, as with a shield of Thy good pleasure hast Thou crowned us.</PrayerLine>
    </p>
    break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
    <p>
        <PrayerLine>Give ear to my words, O LORD; consider my groaning.</PrayerLine>
        <PrayerLine>Attend to the sound of my cry, my King and my God, for to You I pray.</PrayerLine>
        <PrayerLine>In the morning, O LORD, You hear my voice; at daybreak I lay my plea before You and wait in expectation.</PrayerLine>
        <PrayerLine>For You are not a God who delights in wickedness; no evil can dwell with You.</PrayerLine>
        <PrayerLine>The boastful cannot stand in Your presence; You hate all workers of iniquity.</PrayerLine>
        <PrayerLine>You destroy those who tell lies; the LORD abhors the man of bloodshed and deceit.</PrayerLine>
        <PrayerLine>But I will enter Your house by the abundance of Your loving devotion; in reverence I will bow down toward Your holy temple.</PrayerLine>
        <PrayerLine>Lead me, O LORD, in Your righteousness because of my enemies; make straight Your way before me.</PrayerLine>
        <PrayerLine>For not a word they speak can be trusted; destruction lies within them. Their throats are open graves; their tongues practice deceit.</PrayerLine>
        <PrayerLine>Declare them guilty, O God; let them fall by their own devices. Drive them out for their many transgressions, for they have rebelled against You.</PrayerLine>
        <PrayerLine>But let all who take refuge in You rejoice; let them ever shout for joy. May You shelter them, that those who love Your name may rejoice in You.</PrayerLine>
        <PrayerLine>For surely You, O LORD, bless the righteous; You surround them with the shield of Your favor.</PrayerLine>
    </p>
    break;
}

@code {
    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
    
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }
}
