@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 62
        </Heading>
        <p>
            O God my God, early do I rise to Thee. 
            <br />
            My soul hath thirsted for Thee;
            <br />
            how many ways hath my flesh longed after Thee, in a barren and untrodden land, where no water is.
            <br />
            Thus have I appeared before Thee in the sanctuary, that I might see Thy power and Thy glory.
            <br/>
            Because Thy mercy is better than life; 
            <br/>
            my lips shall praise Thee.
            <br/>
            Thus will I bless Thee while I live, and will lift up my hands in Thy name.
            <br/>
            Let my soul be satisfied as with marrow and fatness, and my mouth shall praise Thee with joyful lips.
            <br/>
            If I remembered Thee upon my bed, I meditated on Thee in the morning watches.
            <br/>
            Because Thou hast been my help; 
            <br/>
            in the shelter of Thy wings will I rejoice.
            <br/>
            My soul hath cleaved unto Thee; 
            <br/>
            Thy right hand hath upheld me.
            <br/>
            But they have sought my soul in vain; 
            <br/>
            they shall go into the lower parts of the earth; 
            <br/>
            they shall be given over to the power of the sword; 
            <br/>
            they shall be portions for foxes.
            <br/>
            But the king shall be glad in God; 
            <br/>
            every one that sweareth by Him shall be praised; 
            <br/>
            for the mouth of them that speak unjust things is stopped.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 62
        </Heading>
        <p>
            O God, You are my God. 
            <br/>
            Earnestly I seek You; 
            <br/>
            my soul thirsts for You. 
            <br/>
            My body yearns for You in a dry and weary land without water.
            <br/>
            So I have seen You in the sanctuary and beheld Your power and glory.
            <br/>
            Because Your loving devotion is better than life, my lips will glorify You.
            <br/>
            So I will bless You as long as I live; 
            <br/>
            in Your name I will lift my hands.
            <br/>
            My soul is satisfied as with the richest of foods; with joyful lips my mouth will praise You.
            <br/>
            When I remember You on my bed, I think of You through the watches of the night.
            <br/>
            For You are my help; 
            <br/>
            I will sing for joy in the shadow of Your wings.
            <br/>
            My soul clings to You; 
            <br/>
            Your right hand upholds me.
            <br/>
            But those who seek my life to destroy it will go into the depths of the earth.
            <br/>
            They will fall to the power of the sword; 
            <br/>
            they will become a portion for foxes.
            <br/>
            But the king will rejoice in God; 
            <br/>
            all who swear by Him will exult, for the mouths of liars will be shut.
        </p>
        break;
}

@code {
    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;

    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

}
