/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-stiuq42977] {
}

main[b-stiuq42977] {
    flex: 1;
}

article.main-body-container[b-stiuq42977] {
    min-height: 75vh;
    max-width: 800px;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.4em solid var(--light-beige);
    margin: 0 auto;
    background-color: var(--white);
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
}
/* /Pages/Components/ButtonLink.razor.rz.scp.css */
a.button-link[b-mbsbv4l5aa] {
    padding: 8px;
    margin: 8px 4px 8px 4px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--dark-red);
    color: var(--lighter-beige);
}

    a.button-link:hover[b-mbsbv4l5aa] {
        font-style: italic;
        filter: hue-rotate(260deg);
    }
/* /Pages/Components/HolidayBanner.razor.rz.scp.css */
div.holiday-banner[b-g4uy1fk3iy] {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffd800;
    margin: 8px 2px 8px 2px;
    padding: 4px;
    border-radius: 8px;
}

    div.holiday-banner > div[b-g4uy1fk3iy] {
        background-color: lightblue;
        margin: 2px 4px 2px 4px;
        padding: 4px;
        border-radius: 8px;
    }
/* /Pages/Components/LoadingContainer.razor.rz.scp.css */
.loading-container[b-l69ejlmxxv] {
    width: 97.5%;
    min-height: 400px;
    padding: 8px;
    background-color: #808080;
    border-radius: 6px;
    animation: pulse-b-l69ejlmxxv 1.2s infinite ease-in-out;
}

/* Animation keyframes */
@keyframes pulse-b-l69ejlmxxv {
    0% {
        transform: scale(1);
        background-color: #808080;
    }

    50% {
        transform: scale(1);
        background-color: #d9cece;
    }

    100% {
        transform: scale(1);
        background-color: #808080;
    }
}
/* /Pages/Components/LoadingTextContainer.razor.rz.scp.css */
.loading-span[b-73s8ut5wpk] {
    background-color: #808080;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
    animation: pulse-b-73s8ut5wpk 1.2s infinite ease-in-out;
}

/* Animation keyframes */
@keyframes pulse-b-73s8ut5wpk {
    0% {
        transform: scale(1);
        background-color: #808080;
    }

    50% {
        transform: scale(1.3);
        background-color: #d9cece;
    }

    100% {
        transform: scale(1);
        background-color: #808080;
    }
}
/* /Pages/Components/Note.razor.rz.scp.css */
span.note-container[b-32tw2udlrv] {
    color: #902b2b;
    font-style: italic;
    padding: 0 8px 0 8px;
}
/* /Pages/Home.razor.rz.scp.css */
div.top-controls[b-mqxlcqlz8l] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 4px 8px 4px;
}

div.main-prayer-buttons[b-mqxlcqlz8l] {
    display: flex;
    gap: 16px 4px;
    padding: 8px 4px 8px 4px;
    margin-top: 20px;
    flex-wrap: wrap;
}

div.main-prayer-container[b-mqxlcqlz8l] {
    padding: 8px 4px 8px 4px;
}

div.notification-bar[b-mqxlcqlz8l] {
    position: fixed; /* Sticks to top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00; /* Yellow background */
    color: #000;
    text-align: center;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000; /* Stay above other elements */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* /Pages/MainPrayers/MealPrayer.razor.rz.scp.css */

/* /Pages/MainPrayers/OtherPrayers.razor.rz.scp.css */

div.main-prayer-buttons[b-35nwn8ksa0] {
    display: flex;
    gap: 16px 4px;
    padding: 8px 4px 8px 4px;
    margin-top: 20px;
    flex-wrap: wrap;
}
/* /Pages/Prayers/GospelReading.razor.rz.scp.css */
body[b-qvszgwv3uy] {
}

p.navigate-paragraph[b-qvszgwv3uy] {
    font-style: italic;
    color: var(--dark-grey);
}

a.gospel-navigate-link[b-qvszgwv3uy] {

}
