/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-stiuq42977] {
}

main[b-stiuq42977] {
    flex: 1;
}

article.main-body-container[b-stiuq42977] {
    min-height: 75vh;
    max-width: 800px;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.4em solid var(--light-beige);
    margin: 0 auto;
    background-color: var(--white);
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
}
/* /Pages/Components/ButtonLink.razor.rz.scp.css */
a.button-link[b-mbsbv4l5aa] {
    padding: 8px;
    margin: 8px 4px 8px 4px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--dark-red);
    color: var(--lighter-beige);
}

    a.button-link:hover[b-mbsbv4l5aa] {
        font-style: italic;
        filter: hue-rotate(260deg);
    }
/* /Pages/MainPrayers/MealPrayer.razor.rz.scp.css */

/* /Pages/Prayers/GospelReading.razor.rz.scp.css */
body[b-qvszgwv3uy] {
}

p.navigate-paragraph[b-qvszgwv3uy] {
    font-style: italic;
    color: var(--dark-grey);
}

a.gospel-navigate-link[b-qvszgwv3uy] {

}
