/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-stiuq42977] {
}

main[b-stiuq42977] {
    flex: 1;
}

article.main-body-container[b-stiuq42977] {
    margin: 0 auto;
    max-width: 800px;
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
}
/* /Pages/Components/ButtonLink.razor.rz.scp.css */
a.button-link[b-mbsbv4l5aa] {
    padding: 8px;
    margin: 8px 4px 8px 4px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--dark-red);
    color: var(--lighter-beige);
}

    a.button-link:hover[b-mbsbv4l5aa] {
        font-style: italic;
        filter: hue-rotate(260deg);
    }
/* /Pages/Prayers/MealPrayer.razor.rz.scp.css */

div.meal-kind-container[b-yeiolk6g72] {
    display: flex;
    gap: 0.4em;
    margin: 0.5em 0.2em 0.5em 0.2em;
}

    div.meal-kind-container > div[b-yeiolk6g72] {
        background-color: var(--light-yellow);
        color: var(--black);
        padding: 0.5em;
        border-radius: 0.75em;
        margin: 0.5em 0.2em 0.5em 0.2em;
    }

div.before-after-container[b-yeiolk6g72] {
    display: flex;
    gap: 0.4em;
    margin: 0.5em 0.2em 0.5em 0.2em;
}

    div.before-after-container > div[b-yeiolk6g72] {
        background-color: var(--light-yellow);
        color: var(--black);
        padding: 0.5em;
        border-radius: 0.75em;
        margin: 0.5em 0.2em 0.5em 0.2em;
    }
