<Heading HeadingKind="HeadingKind">
    A Prayer for Forgiveness
</Heading>

<p>
    O Lord our God, if I have sinned in anything this day, in word, or deed, or thought, 
    forgive me all, for You are good and You love mankind. 
    Grant me peaceful and undisturbed sleep, 
    and deliver me from the assault and attack of the evil one. 
    Rouse me at the proper time to glorify You, for blessed are You, 
    together with Your Only-begotten Son and Your All-holy Sprit, 
    now and forever and to the ages of ages.
    <Amen />
</p>

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }
}
