<p>
    O Lord Jesus Christ our God,
    Who didst bless the five loaves in the wilderness and from them fed five thousand,
    bless these gifts also, and multiply them in this household and for all Your world;
</p>

<p>
    For You are the One who blesses and sanctifies all things,
    O Christ our God, and to You we give glory,
    together with Your Eternal Father,
    and Your All-holy, Good, and Life-giving Spirit,
    now and ever, and unto the ages of ages.
    <br />
    Amen.
</p>

@code {

}
