<Heading HeadingKind="HeadingKind">
    Evening Intercession
</Heading>

<p>
    Lord, O Lord, who deliver us from the arrows of temptation that fly by day, 
    deliver us also from every deed of darkness. 
    Accept the lifting up of our hands as an evening sacrifice. 
    Grant that we may also pass through the course of the night without blemish, 
    untried by evil, and deliver us from every trouble and from the fear that comes to us from the devil. 
    Grant countenance to our souls, and let our minds be concerned with your dread and righteous judgement. 
    Nail down our flesh in fear of You, and mortify our earthly bodies, 
    that in the calm of sleep, we may be made bright by the contemplation of Your judgements. 
    Take from us every unseemly imagination and harmful desire. 
    Raise us up at the time of prayer, strengthened in faith and advancing in Your commandments; 
    through the good pleasure of Your Only-begotten Son, with whom You are blessed, 
    together with Your All-holy, Good, and Life-giving Spirit, 
    now and forever and to the ages of ages. 
    <Amen />
</p>

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

}
