
<p>
    We thank you, O Christ our God, for You have filled us this day with Your earthly gifts. Deprive us not of Your heavenly kingdom, but as You came among Your disciples and gave them peace, come among us also, O Savior, and save us.
    <Amen />
</p>


@code {

}
