@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishModern:
        <Heading HeadingKind="HeadingKind">
            Prayer from Children for Parents
        </Heading>
        <p>
            A prayer offered by children for the well-being and blessings of their parents.
        </p>
        break;
    default:
        <Heading HeadingKind="HeadingKind">
            Prayer from Children for Parents
        </Heading>
        <p>
            A prayer offered by children for the well-being and blessings of their parents.
        </p>
        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
