<Heading HeadingKind="HeadingKind">
    Prayer of Saint Ephrem the Syrian for Great Lent
</Heading>

<p>
    O Lord and Master of my life, give me not a spirit of sloth, idle curiosity, love of power, and useless chatter. 
    Rather, according to me Your servant a spirit of chastity, humility, patience, and love. 
    Yes, Lord and King, grant that I may see my own faults and not condemn my brother, for blessed are You forever and ever.
    <Amen/>

</p>


@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

}

