<Heading>
    @switch (MealKind)
    {
        case MealKindEnum.Breakfast:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) Breakfast
            </span>
            break;
        }
        case MealKindEnum.Lunch:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) the Midday Meal
            </span>
            break;
        }
        case MealKindEnum.Dinner:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) the Midday Meal
            </span>
            break;
        }
        default:
        {
            <span>
                Prayer @(getBeforeAfterText()) a meal
            </span>
            break;
        }
    }
</Heading>

<div class="meal-kind-container">
    <InputRadioGroup @bind-Value="MealKind">
        <div>
            <InputRadio Value="MealKindEnum.Breakfast" id="radioOptionBreakfast" />
            <label for="radioOptionBreakfast">Morning Prayer</label>
        </div>
        <div>
            <InputRadio Value="MealKindEnum.Lunch" id="radioOptionLunch" />
            <label for="radioOptionLunch">Lunch Prayer</label>
        </div>
        <div>
            <InputRadio Value="MealKindEnum.Dinner" id="radioOptionDinner" />
            <label for="radioOptionDinner">Evening Prayer</label>
        </div>
    </InputRadioGroup>
</div>

<div class="before-after-container">
    <InputRadioGroup @bind-Value="BeforeAfterKind">
        <div>
            <InputRadio Value="BeforeAfterKindEnum.Before" id="radioOptionBefore" />
            <label for="radioOptionBefore">Before</label>
        </div>
        <div>
            <InputRadio Value="BeforeAfterKindEnum.After" id="radioOptionAfter" />
            <label for="radioOptionAfter">After</label>
        </div>
    </InputRadioGroup>
</div>

<div>
    @switch (MealKind)
    {
        case MealKindEnum.Breakfast:
        {
            @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
            {
                switch (MainUtil.GetRandomIndex(3))
                {
                    case 0:
                        <RichSentAwayHungry />
                        break;
                    case 1:
                        <BlessFoodAndDrinkOfYourServants />
                        break;
                    case 2:
                        <OurFather IncludeHeading="false" />
                        break;
                }
            }
            else
            {

            }
            break;
        }
        case MealKindEnum.Lunch:
        case MealKindEnum.Dinner:
        {

            @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
            {
                switch (MainUtil.GetRandomIndex(4))
                {
                    case 0:
                        <RichSentAwayHungry />
                        break;
                    case 1:
                        <BlessFoodAndDrinkOfYourServants />
                        break;
                    case 2:
                        <OurFather IncludeHeading="false" />
                        break;
                    case 3:
                        <BlessedFiveLoaves />
                        break;
                }
            }
            else
            {

            }
            break;
        }
    }
</div>

@code {

}
