<Heading HeadingKind="HeadingKindEnum.MainHeading">
    @switch (MealKind)
    {
        case MealKindEnum.Breakfast:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) Breakfast
            </span>
            break;
        }
        case MealKindEnum.Lunch:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) the Midday Meal
            </span>
            break;
        }
        case MealKindEnum.Dinner:
        {
            <span>
                Prayer and Blessing @(getBeforeAfterText()) the Evening Meal
            </span>
            break;
        }
        default:
        {
            <span>
                Prayer @(getBeforeAfterText()) a meal
            </span>
            break;
        }
    }
</Heading>

<div class="meal-kind-container">
    <InputRadioGroup @bind-Value="MealKind">
        <div>
            <InputRadio Value="MealKindEnum.Breakfast" id="radioOptionBreakfast" />
            <label for="radioOptionBreakfast">Morning Prayer</label>
        </div>
        <div>
            <InputRadio Value="MealKindEnum.Lunch" id="radioOptionLunch" />
            <label for="radioOptionLunch">Lunch Prayer</label>
        </div>
        <div>
            <InputRadio Value="MealKindEnum.Dinner" id="radioOptionDinner" />
            <label for="radioOptionDinner">Evening Prayer</label>
        </div>
    </InputRadioGroup>
</div>

<div class="before-after-container">
    <InputRadioGroup @bind-Value="BeforeAfterKind">
        <div>
            <InputRadio Value="BeforeAfterKindEnum.Before" id="radioOptionBefore" />
            <label for="radioOptionBefore">Before</label>
        </div>
        <div>
            <InputRadio Value="BeforeAfterKindEnum.After" id="radioOptionAfter" />
            <label for="radioOptionAfter">After</label>
        </div>
    </InputRadioGroup>
</div>

<div>
    @switch (MealKind)
    {
        case MealKindEnum.Breakfast:
        {
            @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
            {
                switch (SelectedIndexOutOf4)
                {
                    case 0:
                        <RichSentAwayHungry />
                        break;
                    case 1:
                        <BlessFoodAndDrinkOfYourServants />
                        break;
                    case 2:
                        <OurFather HeadingKind="HeadingKindEnum.SubHeading" />
                        break;
                    case 3:
                        <HasShownMercyAndNourishedUs />
                        break;
                }
            }
            else
            {
                switch (SelectedIndexOutOf2)
                {
                    case 0:
                        <MayTheLordKeepUs />
                        break;
                    case 1:
                        <FilledUsThisDay />
                        break;
                }
            }
            break;
        }
        case MealKindEnum.Lunch:
        case MealKindEnum.Dinner:
        {

            @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
            {
                switch (SelectedIndexOutOf5)
                {
                    case 0:
                        <RichSentAwayHungry />
                        break;
                    case 1:
                        <BlessFoodAndDrinkOfYourServants />
                        break;
                    case 2:
                        <OurFather HeadingKind="HeadingKindEnum.SubHeading" />
                        break;
                    case 3:
                        <BlessedFiveLoaves />
                        break;
                    case 4:
                        <HasShownMercyAndNourishedUs />
                        break;
                }
            }
            else
            {
                switch (SelectedIndexOutOf2)
                {
                    case 0:
                        <MayTheLordKeepUs />
                        break;
                    case 1:
                        <FilledUsThisDay />
                        break;
                }
            }
            break;
        }
    }
</div>

@code {
    [Parameter]
    public MealKindEnum MealKind { get; set; } = MealKindEnum.Breakfast;

    [Parameter]
    public BeforeAfterKindEnum BeforeAfterKind { get; set; } = BeforeAfterKindEnum.Before;

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private int SelectedIndexOutOf2 { get; set; } = 0;
    private int SelectedIndexOutOf3 { get; set; } = 0;
    private int SelectedIndexOutOf4 { get; set; } = 0;
    private int SelectedIndexOutOf5 { get; set; } = 0;

    protected override async Task OnParametersSetAsync()
    {
        await OnRandomClicked();
        NilsEventService.OnRandomClicked += OnRandomClicked;
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        SelectedIndexOutOf2 = MainUtil.GetRandomIndex(2);
        SelectedIndexOutOf3 = MainUtil.GetRandomIndex(3);
        SelectedIndexOutOf4 = MainUtil.GetRandomIndex(4);
        SelectedIndexOutOf5 = MainUtil.GetRandomIndex(5);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
