<Heading HeadingKind="HeadingKind">
    O Heavenly King and Trisagion Prayers
</Heading>

<p>
    In the Name of the Father, and of the Son, and of the Holy Spirit.
    <br />
    Amen.
</p>

<p>
    Glory to Thee, our God, glory to Thee!
    <br />
    O Heavenly King, Comforter, Spirit of Truth, everywhere present and filling all things; 
    <br />
    Treasury of Blessings, and Giver of Life - come and abide in us, and cleanse us from every stain and inequity, and save our souls, O Good One.
    <br />
    Holy God! Holy Mighty! Holy Immortal! Have mercy on us. (3x)
    <br />
    Glory to the Father, and to the Son, and to the Holy Spirit, now and ever and unto ages of ages. Amen.
    <br />
    O most Holy Trinity, have mercy on us. O Lord, cleanse us from our sins. O Master, pardon our transgressions. O Holy One, visit and heal our infirmities, for Your name’s sake.
    <br />
    Lord, have mercy. (3x)
    <br />
    Glory to the Father, and to the Son, and to the Holy Spirit, now and ever and unto ages of ages.
    <br />
    Amen.
</p>

<OurFather/>

<LordHaveMercy TimesToSay="12"/>

<p>
    Come! Let us worship God, our King!
    <br />
    Come! Let us worship and fall down before Christ, our King and our God!
    <br />
    Come! Let us worship and fall down before Christ Himself, our King and our God!
</p>

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }
}
