<Heading HeadingKind="HeadingKind">
    Morning Prayer of Metropolitan Philaret of Moscow
</Heading>

<p>
    O Lord, grant me to greet the coming day in peace.
    <br/>
    Help me in all things to rely on Your Holy will.
    <br />
    In every hour of the day reveal Your will to me.
    <br />
    Bless my dealings with all who surround me.
    <br />
    Teach me to treat all that comes to me throughout the day with peace of soul, and with the firm conviction that Your will governs all.
    <br />
    In all my deeds and words, guide my thoughts and feelings.
    <br />
    In unforeseen events let me not forget that all are sent by You.
    <br />
    Teach me to act firmly and wisely, without embittering and embarrassing others.
    <br />
    Give me strength to bear the fatigue of this coming day with all that it shall bring.
    <br />
    Direct my will, teach me to pray, pray You Yourself in me.
    <Amen/>
</p>

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;
}
