@implements IDisposable

@{
    <Heading HeadingKind="HeadingKind">
        Psalm @(selectedPsalm.Number)
    </Heading>

    <p>
        @(selectedPsalm.Text)
    </p>
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [Parameter, EditorRequired]
    public bool IsBrief { get; set; }

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private PsalmGetter psalmGetter = new PsalmGetter();
    private PsalmContainer selectedPsalm = null!;


    protected override void OnParametersSet()
    {
        if (selectedPsalm == null)
            selectedPsalm = psalmGetter.GetRandomPsalm(IsBrief);


        NilsEventService.OnRandomClicked += OnRandomClicked;

        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        selectedPsalm = psalmGetter.GetRandomPsalm(IsBrief);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
