
@{
    var psalm = psalmGetter.GetRandomPsalm(IsBrief);

    <Heading HeadingKind="HeadingKind">
        Psalm @(psalm.Number)
    </Heading>

    <p>
        @(psalm.Text)
    </p>
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [Parameter, EditorRequired]
    public bool IsBrief { get; set; }

    private PsalmGetter psalmGetter = new PsalmGetter();
}
