<Heading HeadingKind="HeadingKind">
    Morning Prayer by St. Basil the Great
</Heading>

<p>
    As I rise from sleep, I thank You, Holy Trinity, for Your loving-kindness and patience. 
    You were not angry with me, even though I am lazy and full of sin.
    You have not destroyed me for the wrongs I have done.
    Rather, You have shown unchanging love for me.
    When I was bowed low in dark despair,
    You raised me up to sing the morning hymn and glorify Your Lordship. 
    Now give light to the eye of my mind, and open up my ears to hear Your words and learn Your commandments.
    Help me to obey Your will, sing to You with all my heart, and give praise to Your Holy Name,
    the Father, and the Son and the Holy Spirit, now and ever and unto the ages of ages.
    <Amen/>
</p>

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

}
