@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishModern:
        <Heading HeadingKind="HeadingKind">
            Prayer to Find a Spouse
        </Heading>
        <p>
            A prayer asking God to guide those seeking a life partner.
        </p>
        break;
    default:
        <Heading HeadingKind="HeadingKind">
            Prayer to Find a Spouse
        </Heading>
        <p>
            A prayer asking God to guide those seeking a life partner.
        </p>
        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
