<Heading HeadingKind="HeadingKind">
    Morning Prayer to the Holy Trinity
</Heading>

<p>
    As we rise from sleep, we fall down before You, our good God, and sing to You the Angels' Hymn: 
    Holy, Holy, Holy are you, O God. Through the prayers of the Mother of God, have mercy on us.
</p>

<GloryNowAndForever />

<p>
    Now and ever and unto ages of ages.
    <Amen/>
</p>

<p>
    The Judge will come down suddenly and what everyone has done will be revealed.
    Therefore, with fear we cry out in the early morning:
    Holy, Holy, Holy are You, o God.
    Through the prayers of the Mother of God, have mercy on us. 
</p>

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

}
