
<Heading HeadingKind="HeadingKind">
    It is truly meet
</Heading>

<p>
    It is truly meet to bless thee, O Theotokos, 
    the ever blessed and most pure, and the Mother of our God. 
    More honorable than the Cherubim, and more glorious beyond compare than the Seraphim. 
    Without corruption you gave birth to God the Word. 
    True Theotokos, we magnify thee!
</p>

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }
}
