.page {
}

main {
    flex: 1;
}

article.main-body-container {
    min-height: 75vh;
    max-width: 800px;
    padding: 0.5em;
    border-radius: 1em;
    border: 0.4em solid var(--light-beige);
    margin: 0 auto;
    background-color: var(--white);
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
}
