@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishModern:
        <Heading HeadingKind="HeadingKind">
            Prayer for the Departed
        </Heading>
        <p>
            A brief prayer for those who have fallen asleep in the Lord.
        </p>
        break;
    default:
        <Heading HeadingKind="HeadingKind">
            Prayer for the Departed
        </Heading>
        <p>
            A brief prayer for those who have fallen asleep in the Lord.
        </p>
        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
