@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishModern:
        <Heading HeadingKind="HeadingKind">
            Prayer for Others Who Are Sick
        </Heading>
        <p>
            A prayer asking for healing and comfort for those who are ill.
        </p>
        break;
    default:
        <Heading HeadingKind="HeadingKind">
            Prayer for Others Who Are Sick
        </Heading>
        <p>
            A prayer asking for healing and comfort for those who are ill.
        </p>
        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
