@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishModern:
        <Heading HeadingKind="HeadingKind">
            Prayer for Those with Depression
        </Heading>
        <p>
            A short prayer asking for comfort and hope for those struggling with depression.
        </p>
        break;
    default:
        <Heading HeadingKind="HeadingKind">
            Prayer for Those with Depression
        </Heading>
        <p>
            A short prayer asking for comfort and hope for those struggling with depression.
        </p>
        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
