<Heading HeadingKind="HeadingKind">
    @switch (LanguageKind)
    {
        case LanguageKindEnum.EnglishOlder:
        case LanguageKindEnum.EnglishModern:
        case LanguageKindEnum.EnglishMixed:
        default:
            <span>
                The Prayer to the Holy Spirit
            </span>
            break;
    }
</Heading>

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <p>
            Glory to Thee, our God, glory to Thee!
            <br />
            O Heavenly King, Comforter, Spirit of Truth, everywhere present and fillest all things;
            <br />
            Treasury of Blessings, and Giver of Life - come and abide in us, and cleanse us from every impurity, and save our souls, O Good One.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <p>
            Glory to You, our God, Glory to You!
            <br />
            O Heavenly King, Comforter, Spirit of Truth, everywhere present and filling all things;
            <br />
            Treasury of Blessings, and Giver of Life - come and abide in us, and cleanse us from every impurity, and save our souls, O Good One.
        </p>
        break;
}

<HolyGodHolyMightyHolyImmortal HeadingKind="HeadingKindEnum.None" />


@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
}
