
<Heading HeadingKind="HeadingKind">
    @switch (LanguageKind)
    {
        case LanguageKindEnum.EnglishModern:
        case LanguageKindEnum.EnglishMixed:
        case LanguageKindEnum.EnglishOlder:
        default:
            <span>Morning Prayer to the Holy Trinity</span>
            break;
    }
</Heading>

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <p>
            Having arisen from sleep, we fall down before Thee, O Blessed One, and sing to Thee, O Mighty One, the angelic hymn:
            Holy, Holy, Holy art Thou, O God; through the Theotokos, have mercy on us.
        </p>

        <GloryNowAndForever />

        <p>
            Suddenly the Judge shall come, and the deeds of each shall be revealed;
            but with fear we cry out in the middle of the night:
            Holy, Holy, Holy art Thou, O God;
            through the Theotokos, have mercy on us.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <PrayerLine>A we rise from sleep, we fall down before You, our Good God, and sing to You the Angels' Hymn: Holy, Holy, Holy are You, O God.</PrayerLine>
        <PrayerLine>Through the prayers of the Mother of God, have mercy on us.</PrayerLine>
        <PrayerLine>Glory to the Father and to the Son and to the Holy Spirit...</PrayerLine>
        <PrayerLine>Lord, You woke me at Dawn and brought me from my bed.</PrayerLine>
        <PrayerLine>Now give light to my mind and heart, and open my mouth that I may sing to You, the Holy Trinity: Holy, Holy, Holy are You, O God.</PrayerLine>
        <PrayerLine>Through the prayers of the Mother of God, have mercy on us.</PrayerLine>
        <PrayerLine>Now and ever and unto ages of ages. Amen. </PrayerLine>
        <PrayerLine>The Judge will come suddenly and what everyone has done will be revealed.</PrayerLine>
        <PrayerLine>Therefore, with fear we cry out in the early morning: Holy, Holy, Holy are You, O God.</PrayerLine>
        <PrayerLine>Through the prayers of the Mother of God, have mercy on us.</PrayerLine>


        break;
}

@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;
}
