@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 142
        </Heading>
        <p>
            O Lord, hear my prayer, give ear unto my supplication in Thy truth; hearken unto me in Thy righteousness.
            <br />
            And enter not into judgement with Thy servant, for in Thy sight shall no man living be justified.
            <br />
            For the enemy hath persecuted my soul; he hath humbled my life down to the earth.
            <br />
            He hath sat me in darkness as those that have been long dead, and my spirit within me is become despondent; within me my heart is troubled.
            <br />
            I remembered days of old, I meditated on all Thy works, I pondered on the creations of Thy hands.
            <br />
            I stretched forth my hands unto Thee; my soul thirsteth after Thee like a waterless land.
            <br />
            Quickly hear me, O Lord; my spirit hath fainted away.
            <br />
            Turn not Thy face away from me, lest I be like unto them that go down into the pit.
            <br />
            Cause me to hear Thy mercy in the morning; for in Thee have I put my hope.
            <br />
            Cause me to know, O Lord, the way wherein I should walk; for unto Thee have I lifted up my soul.
            <br />
            Rescue me from mine enemies, O Lord; unto Thee have I fled for refuge. Teach me to do Thy will, for Thou art my God.
            <br />
            Thy good Spirit shall lead me in the land of uprightness; for Thy name's sake, O Lord, shalt Thou quicken me.
            <br />
            In Thy righteousness shalt Thou bring my soul out of affliction, and in Thy mercy shalt Thou utterly destroy mine enemies.
            <br />
            And Thou shalt cut off all them that afflict my soul, for I am Thy servant.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 142
        </Heading>
        <p>
            O LORD, hear my prayer. In Your faithfulness, give ear to my plea; in Your righteousness, answer me.
            <br />
            Do not bring Your servant into judgment, for no one alive is righteous before You.
            <br />
            For the enemy has pursued my soul, crushing my life to the ground, making me dwell in darkness like those long since dead.
            <br />
            My spirit grows faint within me; my heart is dismayed inside me.
            <br />
            I remember the days of old; I meditate on all Your works; I consider the work of Your hands.
            <br />
            I stretch out my hands to You; my soul thirsts for You like a parched land. Selah
            <br />
            Answer me quickly, O LORD; my spirit fails. Do not hide Your face from me, or I will be like those who descend to the Pit.
            <br />
            Let me hear Your loving devotion in the morning, for I have put my trust in You. Teach me the way I should walk, for to You I lift up my soul.
            <br />
            Deliver me from my enemies, O LORD; I flee to You for refuge.
            <br />
            Teach me to do Your will, for You are my God. May Your good Spirit lead me on level ground.
            <br />
            For the sake of Your name, O LORD, revive me. In Your righteousness, bring my soul out of trouble.
            <br />
            And in Your loving devotion, cut off my enemies. Destroy all who afflict me, for I am Your servant.
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}

