@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 102
        </Heading>
        <p>
        </p>
        break;
}

@code {
    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;

    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

}
