@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Psalm 102
        </Heading>
        <p>
            Bless the Lord, O my soul; and all that is within me bless His holy name.
            <br/>
            Bless the Lord, O my soul, and forget not all His benefits: 
            <br/>
            Who forgiveth all thine iniquities, 
            <br/>
            Who healeth all thine infirmities, 
            <br/>
            Who redeemeth thy life from corruption, 
            <br/>
            Who crowneth thee with mercy and lovingkindness, 
            <br/>
            Who satisfieth thy desire with good things; 
            <br/>
            thy youth shall be renewed like the eagle’s.
            <br/>
            The Lord executeth mercy and judgment for all that are wronged.
            <br/>
            He made known His ways unto Moses, His will unto the sons of Israel.
            <br/>
            The Lord is compassionate and merciful, longsuffering and plenteous in mercy. 
            <br/>
            He will not always be angry, neither will He keep His wrath for ever.
            <br/>
            He hath not dealt with us according to our sins, nor rewarded us according to our iniquities.
            <br/>
            For as the heaven is high above the earth, so hath the Lord made His mercy to prevail over them that fear Him.
            <br/>
            As far as the east is from the west, so far hath He removed our iniquities from us.
            <br/>
            Like as a father hath compassion upon his children, so hath the Lord compassion on them that fear Him. 
            <br/>
            For He knoweth whereof we are made; 
            <br/>
            He remembereth that we are dust.
            <br/>
            <br/>
            As for man, his days are as the grass; as a flower of the field, so shall he flourish.
            <br/>
            For when the wind hath passed over it, it shall be gone, and it will know the place thereof no more.
            <br/>
            But the mercy of the Lord is from everlasting to everlasting upon them that fear Him.
            <br/>
            And His righteousness upon sons of sons, upon such as keep His testament, and remember His commandments to do them.
            <br/>
            The Lord hath prepared His throne in heaven, and His kingdom ruleth over all.
            <br/>
            Bless the Lord, all ye His angels, mighty in strength, that perform His word, to hearken unto the voice of His words.
            <br/>
            Bless ye the Lord, all ye His hosts, ye ministers of His that do His will.
            <br/>
            Bless the Lord, all ye works of His, in every place of His dominion. Bless the Lord, O my soul.
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 102
        </Heading>
        <p>
            Bless the LORD, O my soul; all that is within me, bless His holy name.
            <br/>
            Bless the LORD, O my soul, and do not forget all His kind deeds—
            <br/>
            He who forgives all your iniquities and heals all your diseases,
            <br/>
            who redeems your life from the Pit and crowns you with loving devotion and compassion,
            <br/>
            who satisfies you with good things, so that your youth is renewed like the eagle’s.
            <br/>
            The LORD executes righteousness and justice for all the oppressed.
            <br/>
            He made known His ways to Moses, His deeds to the people of Israel.
            <br/>
            The LORD is compassionate and gracious, slow to anger, abounding in loving devotion.
            <br/>
            He will not always accuse us, nor harbor His anger forever.
            <br/>
            He has not dealt with us according to our sins or repaid us according to our iniquities.
            <br/>
            For as high as the heavens are above the earth, so great is His loving devotion for those who fear Him.
            <br/>
            As far as the east is from the west, so far has He removed our transgressions from us.
            <br/>
            As a father has compassion on his children, so the LORD has compassion on those who fear Him.
            <br/>
            For He knows our frame; He is mindful that we are dust.
            <br/>
            As for man, his days are like grass— he blooms like a flower of the field;
            <br/>
            when the wind passes over, it vanishes, and its place remembers it no more.
            <br/>
            But from everlasting to everlasting the loving devotion of the LORD extends to those who fear Him, and His righteousness to their children’s children—
            <br/>
            to those who keep His covenant and remember to obey His precepts.
            <br/>
            The LORD has established His throne in heaven, and His kingdom rules over all.
            <br/>
            Bless the LORD, all His angels mighty in strength who carry out His word, who hearken to the voice of His command.
            <br/>
            Bless the LORD, all His hosts, you servants who do His will.
            <br/>
            Bless the LORD, all His works in all places of His dominion. Bless the LORD, O my soul!
        </p>
        break;
}

@code {
    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;

    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

}
