
<Heading HeadingKind="HeadingKindEnum.SubHeading">
    Pregnancy Prayers
</Heading>

<InputRadioGroup @bind-Value="ForWhomPregnancyKind">
    <div>
        <InputRadio Value="ForWhomPregnancyKindEnum.Me" id="radioOptionBefore" />
        <label for="radioOptionBefore">Me</label>
    </div>
    <div>
        <InputRadio Value="ForWhomPregnancyKindEnum.AnotherWoman" id="radioOptionAfter" />
        <label for="radioOptionAfter">Another Woman</label>
    </div>
</InputRadioGroup>

@if (ForWhomPregnancyKind == ForWhomPregnancyKindEnum.AnotherWoman)
{
    <InputText @bind-Value="WomanName" placeholder="Enter woman's name" />
}

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:

    break;
}


@code {
    [Parameter]
    public HeadingKindEnum HeadingKind { get; set; } = HeadingKindEnum.None;

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;

    private ForWhomPregnancyKindEnum ForWhomPregnancyKind { get; set; } = ForWhomPregnancyKindEnum.AnotherWoman;

    private string WomanName { get; set; } = string.Empty;


    private enum ForWhomPregnancyKindEnum { AnotherWoman, Me, }
}
