div.top-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 4px 8px 4px;
}

div.main-prayer-buttons {
    display: flex;
    gap: 16px 4px;
    padding: 8px 4px 8px 4px;
    margin-top: 20px;
    flex-wrap: wrap;
}

div.main-prayer-container {
    padding: 8px 4px 8px 4px;
}

div.notification-bar {
    position: fixed; /* Sticks to top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcc00; /* Yellow background */
    color: #000;
    text-align: center;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000; /* Stay above other elements */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}