@page "/"

<PageTitle>Orthodox Prayer Helper App</PageTitle>

<div class="top-controls">
    <div>
        <input type="date" @bind-value="@(Date)">
    </div>
    <div>
        <LanguageSelector />
    </div>
    @if (HolidayCalculator.IsLent(DateOnly.FromDateTime(Date)))
    {
        <Note>It is Paschal Season (@(HolidayCalculator.GetPascha(Date.Year).ToShortDateString()))</Note>
    }
    else if (HolidayCalculator.IsNativityFast(DateOnly.FromDateTime(Date)))
    {
        <Note>It is Nativity Season (@(new DateOnly(Date.Year, 12, 25).ToShortDateString()))</Note>
    }
</div>

<div style="display: flex; gap: 16px 4px; padding: 8px 4px 8px 4px; margin-top: 20px; flex-wrap: wrap;">
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.MorningPrayer">
            Morning
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.EveningPrayer">
            Evening
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.Meal">
            Meal
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.Meal">
            Other
        </ButtonLink>
    </div>

    @if (!choiceKindsWithNoRandom.Contains(MainPrayerChoice))
    {
        <div>
            <ButtonLink OnClick="() => NilsEventService.NotifyRandomClicked()"
                        BackgroundColor="@(StaticColors.LightBeige)">
                <DiceIcon />
            </ButtonLink>
        </div>
    }
</div>

<div style="padding: 8px 4px 8px 4px;">
    @switch (MainPrayerChoice)
    {
        case MainPrayerChoiceKind.MorningPrayer:
            <MorningPrayer Date="Date" />
            break;
        case MainPrayerChoiceKind.EveningPrayer:
            <EveningPrayer Date="Date" />
            break;
        case MainPrayerChoiceKind.Meal:
            <MealPrayer />
            break;
        case MainPrayerChoiceKind.Other:
            <PreCommunionPrayers HeadingKind="HeadingKindEnum.MainHeading" />
            break;
        default:
            <div>Select a prayer.</div>
            break;
    }
</div>

@code {
    private IEnumerable<MainPrayerChoiceKind> choiceKindsWithNoRandom = [
        MainPrayerChoiceKind.Other,
        MainPrayerChoiceKind.None,
    ];
}
