@page "/"

<PageTitle>Orthodox Prayer Helper App</PageTitle>

<div style="display: none;">
    <div style="display: flex; gap: 2px; padding: 8px 4px 8px 4px;">
        <div>
            <input type="date" @bind-value="@(Date)">
        </div>
    </div>
</div>

<div style="display: flex; gap: 2px; padding: 8px 4px 8px 4px; margin-top: 20px;">
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.MorningPrayer">
            Morning Prayer
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.EveningPrayer">
            Evening Prayer
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.Meal">
            Meal
        </ButtonLink>
    </div>

    @if (this.MainPrayerChoice != MainPrayerChoiceKind.None)
    {
        <div>
            <ButtonLink OnClick="() => NilsEventService.NotifyRandomClicked()"
                        BackgroundColor="@(StaticColors.LightBeige)">
                <DiceIcon />
            </ButtonLink>
        </div>
    }
</div>

<div style="padding: 8px 4px 8px 4px;">
    @switch (MainPrayerChoice)
    {
        case MainPrayerChoiceKind.MorningPrayer:
            <MorningPrayer Date="Date" />
            break;
        case MainPrayerChoiceKind.EveningPrayer:
            <EveningPrayer Date="Date" />
            break;
        case MainPrayerChoiceKind.Meal:
            <MealPrayer />
            break;
        default:
            <div>Select a prayer.</div>
            break;
    }
</div>

@code {
}
