@page "/"

<PageTitle>Orthodox Prayer Helper App</PageTitle>

<div style="display: flex; gap: 2px; padding: 8px 4px 8px 4px;">
    <div>
        <input type="date" @bind-value="@(Date)">
    </div>
</div>

<div style="display: flex; gap: 2px; padding: 8px 4px 8px 4px;">
    <div>
        <ButtonLink OnClick="() => this.MainPrayerChoice = MainPrayerChoiceKind.MorningPrayer">
            Morning Prayer
        </ButtonLink>
    </div>
    <div></div>
    <div></div>
</div>

<OHeavenlyKingAndTrisagion/>

@code {
    
}
