@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <Heading HeadingKind="HeadingKind">
            Closing Prayers
        </Heading>

        <GloryNowAndForever />

        <LordHaveMercy TimesToSay="3" />

        <p>
            O Lord Jesus Christ, the Son of God, through the intercessions of Thy most pure Mother
            <br />
            and of all Thy Saints@(SaintText == string.Empty ? "" : ", ")
            <LoadingTextContainer IsLoading="IsLoading">
                @if (SaintText != string.Empty)
                {
                    <span>
                        especially <a href="@(ocaSaintLink)">@SaintText</a> whose memory we commemorate today
                    </span>
                }
            </LoadingTextContainer>
            ,
            <br />
            have mercy on us and save us, forasmuch as Thou art good and lovest mankind.
            <Amen />
        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Closing Prayers
        </Heading>

        <GloryNowAndForever />

        <LordHaveMercy TimesToSay="3" />

        <p>
            O Lord Jesus Christ, the Son of God, through the intercessions of Your most pure Mother
            <br />
            and of all Your Saints@(SaintText == string.Empty ? "" : ", ")
            <LoadingTextContainer IsLoading="IsLoading" IsInline="true">
                @if (SaintText != string.Empty)
                {
                    <span>
                        especially <a href="@(ocaSaintLink)">@SaintText</a> whose memory we commemorate today
                    </span>
                }
            </LoadingTextContainer>
            ,
            <br />
            have mercy on us and save us, for You are good and love mankind.
            <Amen />
        </p>
        break;
}

@code {
}
