
<p>
    O most Holy Trinity, have mercy on us.
    <br />
    O Lord, cleanse us from our sins.
    <br />
    O Master, pardon our transgressions.
    <br />
    O Holy One, visit and heal our infirmities, for Thy name’s sake.
</p>

@code {

}
