
<Heading HeadingKind="HeadingKindEnum.MainHeading">
    Evening Prayer
</Heading>

<div class="options-container">
    <InputCheckbox id="checkboxIsBrief" @bind-Value="IsBrief" />
    <label for="checkboxIsBrief">Brief?</label>
</div>

<InTheNameOfTheTrinity />

@if (IsPaschaltide)
{
    <ChristIsRisen HeadingKind="HeadingKindEnum.None" />
}
else
{
    <OHeavenlyKingAndTrisagion HeadingKind="HeadingKindEnum.None" />
}

<OhMostHolyTrinity />

<LordHaveMercy TimesToSay="3" />

<GloryNowAndForever />

<OurFather HeadingKind="HeadingKindEnum.None" />

<LordHaveMercy TimesToSay="12" />

<ComeLetUsWorshipGodOurKing />

@if (IsBrief)
{
    <APrayerForForgiveness HeadingKind="HeadingKindEnum.SubHeading" />
}
else
{
    ImmutableList<RenderFragment> RandomizablePrayerItems = [
    @<APrayerForForgiveness HeadingKind="HeadingKindEnum.SubHeading" />,
    @<EveningIntercession HeadingKind="HeadingKindEnum.SubHeading" />,
    @<PhilaretMorningPrayer HeadingKind="HeadingKindEnum.SubHeading" />
    ];

    <RandomizablePrayer Items='RandomizablePrayerItems' />
}

<Psalm HeadingKind="HeadingKindEnum.SubHeading" PsalmTimeOfDayKind="PsalmTimeOfDayKindEnum.Evening" IsBrief="IsBrief" />

<GospelReading Date=Date HeadingKind="HeadingKindEnum.SubHeading" />

@if (HasNiceneCreed && !IsBrief)
{
    <NiceneCreed HeadingKind="HeadingKindEnum.SubHeading" />
}

@if (HasPrayerToMotherOfGod || !IsBrief)
{
    <TrulyMeetTheotokos HeadingKind="HeadingKindEnum.SubHeading" />
}

@if (IsLent)
{
    <LentStEphremPrayer HeadingKind="HeadingKindEnum.SubHeading" />
}

<ClosingPrayers HeadingKind="HeadingKindEnum.SubHeading" Date="Date" />

@code {
    [Parameter, EditorRequired]
    public DateTime Date { get; set; }

    [Parameter]
    public bool HasPrayerToMotherOfGod { get; set; } = false;

    [Parameter]
    public bool HasNiceneCreed { get; set; } = true;

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private bool IsBrief { get; set; } = false;
    private bool IsPaschaltide => HolidayCalculator.IsPaschaltide(DateOnly.FromDateTime(Date));
    private bool IsLent => HolidayCalculator.IsGreatLent(DateOnly.FromDateTime(Date));


    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();
    }


    public void Dispose() { }
}
