<Heading HeadingKind="HeadingKindEnum.MainHeading">
    <span>
        Prayer and Blessing @(getBeforeAfterText()) a Meal
    </span>
</Heading>

<div class="options-container">
    <InputRadioGroup @bind-Value="BeforeAfterKind">
        <div>
            <InputRadio Value="BeforeAfterKindEnum.Before" id="radioOptionBefore" />
            <label for="radioOptionBefore">Before</label>
        </div>
        <div>
            <InputRadio Value="BeforeAfterKindEnum.After" id="radioOptionAfter" />
            <label for="radioOptionAfter">After</label>
        </div>
    </InputRadioGroup>
</div>

<div>
    @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
    {
        ImmutableList<RenderFragment> RandomizableBeforePrayerItems = [
        @<RichSentAwayHungry/>,
        @<BlessFoodAndDrinkOfYourServants />,
        @<OurFather HeadingKind="HeadingKindEnum.SubHeading" />,
        @<BlessedFiveLoaves HeadingKind="HeadingKindEnum.SubHeading" />,
        @<HasShownMercyAndNourishedUs />,
        ];

        <RandomizablePrayer Items='RandomizableBeforePrayerItems' />
    }
    else
    {
        ImmutableList<RenderFragment> RandomizableAfterPrayerItems = [
        @<MayTheLordKeepUs />,
        @<FilledUsThisDay />,
        ];

        <RandomizablePrayer Items='RandomizableAfterPrayerItems' />
    }
</div>

@code {
    [Parameter]
    public BeforeAfterKindEnum BeforeAfterKind { get; set; } = BeforeAfterKindEnum.Before;

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        StateHasChanged();
    }


    public void Dispose()
    {
    }
}
