@using OrthodoxPrayerBlazorSite2.Pages.Psalms
<h3>Precommunion Prayers</h3>

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
    {
        <PrayerLine>
            Through the prayers of our holy fathers, O Lord Jesus Christ our God, have mercy on us.
        </PrayerLine>
        <Amen />

        <PrayerLine>
            Glory to thee, our God, glory to thee.
        </PrayerLine>

        <OHeavenlyKingAndTrisagion HeadingKind="HeadingKindEnum.None" />

        <HolyGodHolyMightyHolyImmortal HeadingKind="HeadingKindEnum.None"/>

        <GloryNowAndForever />

        <OhMostHolyTrinity />

        <LordHaveMercy TimesToSay="3" />

        <OurFather HeadingKind="HeadingKindEnum.None" />

        <LordHaveMercy TimesToSay="12" />

        <GloryNowAndForever />

        <ComeLetUsWorshipGodOurKing />

        <Psalm22 HeadingKind="HeadingKindEnum.SubHeading2" />

        break;
    }

}


@code {
    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;
    
    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; } = LanguageKindEnum.EnglishModern;


    protected override async Task OnParametersSetAsync()
    {
        await OnRandomClicked();
        NilsEventService.OnRandomClicked += OnRandomClicked;
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        // SelectedIndexOutOf3 = MainUtil.GetRandomIndex(3);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
