<h3>PrecommunionPrayers</h3>

@code {
    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private RangeValue<decimal> BriefnessRangeValue { get; set; } = new (2.5m, 0.0m, 5.0m);

    private int SelectedIndexOutOf3 { get; set; } = 0;


    protected override async Task OnParametersSetAsync()
    {
        await OnRandomClicked();
        NilsEventService.OnRandomClicked += OnRandomClicked;
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        SelectedIndexOutOf3 = MainUtil.GetRandomIndex(3);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
