@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <p>

        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 67
        </Heading>
        <p>
            May God be gracious to us and bless us and make His face to shine upon us, that Thy way may be known upon earth, Thy saving power among all nations. Let the peoples praise Thee, O God; let all the peoples praise Thee! Let the nations be glad and sing for joy, for Thou dost judge the peoples with equity and guide the nations upon earth. Let the peoples praise Thee, O God; let all the peoples praise Thee! The earth has yielded its increase; God, our God, shall bless us. God shall bless us; let all the ends of the earth fear Him!
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
