@inherits OrthodoxPrayerBasePage

@switch (LanguageKind)
{
    case LanguageKindEnum.EnglishOlder:
        <p>

        </p>
        break;
    case LanguageKindEnum.EnglishModern:
    case LanguageKindEnum.EnglishMixed:
    default:
        <Heading HeadingKind="HeadingKind">
            Psalm 34
        </Heading>
        <p>
            I will bless the Lord at all times; His praise shall continually be in my mouth. My soul makes its boast in the Lord; let the afflicted hear and be glad. O magnify the Lord with me, and let us exalt His name together! I sought the Lord and He answered me, and delivered me from all my fears. Look to Him and be radiant, so your faces shall never be ashamed. This poor man cried, and the Lord heard him, and saved him out of all his troubles. The angel of the Lord encamps around those who fear Him, and delivers them. O taste and see that the Lord is good! Happy is the man who takes refuge in Him! O fear the Lord, you His saints, for those who fear Him have no want! The young lions suffer want and hunger; but those who seek the Lord lack no good thing. Come, O sons, listen to me; I will teach you the fear of the Lord. What man is there who desires life, and covets many days, that he may enjoy good? Keep your tongue from evil, and your lips from speaking deceit. Depart from evil, and do good; seek peace, and pursue it. The eyes of the Lord are toward the righteous, and His ears toward their cry. The face of the Lord is against evildoers, to cut off the remembrance of them from the earth. When the righteous cry for help, the Lord hears and delivers them out of all their troubles. The Lord is near to the brokenhearted, and saves the crushed in spirit. Many are the afflictions of the righteous; but the Lord delivers him out of them all. He keeps all his bones; not one of them is broken. Evil shall slay the wicked; and those who hate the righteous will be condemned. The Lord redeems the life of His servants; none of those who take refuge in Him will be condemned.
        </p>
        break;
}

@code {
    [Parameter, EditorRequired]
    public HeadingKindEnum HeadingKind { get; set; }

    [CascadingParameter]
    public LanguageKindEnum LanguageKind { get; set; }
}
