
<Heading HeadingKind="HeadingKindEnum.MainHeading">
    Evening Prayer
</Heading>

<div class="options-container">
    <InputCheckbox id="checkboxIsBrief" @bind-Value="IsBrief" />
    <label for="checkboxIsBrief">Brief?</label>
</div>

<OHeavenlyKingAndTrisagion HeadingKind="HeadingKindEnum.SubHeading" />

@if (IsBrief)
{
    <APrayerForForgiveness HeadingKind="HeadingKindEnum.SubHeading" />
}
else
{
    switch (SelectedIndexOutOf2)
    {
        case 0:
            <APrayerForForgiveness HeadingKind="HeadingKindEnum.SubHeading" />
            break;
        case 1:
            <EveningIntercession HeadingKind="HeadingKindEnum.SubHeading" />
            break;
    }
}

<Psalm HeadingKind="HeadingKindEnum.SubHeading" IsBrief="IsBrief" />

<GospelReading HeadingKind="HeadingKindEnum.SubHeading" />

@if (HasNiceneCreed && !IsBrief)
{
    <NiceneCreed HeadingKind="HeadingKindEnum.SubHeading" />
}

@if (HasPrayerToMotherOfGod || !IsBrief)
{
    <TrulyMeetTheotokos HeadingKind="HeadingKindEnum.SubHeading" />
}

@if (IsLent)
{
    <LentStEphremPrayer HeadingKind="HeadingKindEnum.SubHeading" />
}

<ClosingPrayers HeadingKind="HeadingKindEnum.SubHeading" Date="Date" />

@code {
    [Parameter, EditorRequired]
    public DateTime Date { get; set; }

    [Parameter]
    public bool HasPrayerToMotherOfGod { get; set; } = false;

    [Parameter]
    public bool HasNiceneCreed { get; set; } = true;

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private bool IsBrief { get; set; } = false;
    private bool IsLent => false;

    private int SelectedIndexOutOf2 { get; set; } = 0;
    private int SelectedIndexOutOf3 { get; set; } = 0;


    protected override async Task OnParametersSetAsync()
    {
        await OnRandomClicked();
        NilsEventService.OnRandomClicked += OnRandomClicked;
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        SelectedIndexOutOf2 = MainUtil.GetRandomIndex(2);
        SelectedIndexOutOf3 = MainUtil.GetRandomIndex(3);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
