<Heading HeadingKind="HeadingKindEnum.MainHeading">
    <span>
        Prayer and Blessing @(getBeforeAfterText()) a Meal
    </span>
</Heading>

<div class="options-container">
    <InputRadioGroup @bind-Value="BeforeAfterKind">
        <div>
            <InputRadio Value="BeforeAfterKindEnum.Before" id="radioOptionBefore" />
            <label for="radioOptionBefore">Before</label>
        </div>
        <div>
            <InputRadio Value="BeforeAfterKindEnum.After" id="radioOptionAfter" />
            <label for="radioOptionAfter">After</label>
        </div>
    </InputRadioGroup>
</div>

<div>
    @if (BeforeAfterKind == BeforeAfterKindEnum.Before)
    {

        switch (SelectedIndexOutOf5)
        {
            case 0:
                <RichSentAwayHungry />
                break;
            case 1:
                <BlessFoodAndDrinkOfYourServants />
                break;
            case 2:
                <OurFather HeadingKind="HeadingKindEnum.SubHeading" />
                break;
            case 3:
                <BlessedFiveLoaves />
                break;
            case 4:
                <HasShownMercyAndNourishedUs />
                break;
        }
    }
    else
    {
        switch (SelectedIndexOutOf2)
        {
            case 0:
                <MayTheLordKeepUs />
                break;
            case 1:
                <FilledUsThisDay />
                break;
        }
    }
</div>

@code {
    [Parameter]
    public BeforeAfterKindEnum BeforeAfterKind { get; set; } = BeforeAfterKindEnum.Before;

    [Inject]
    public NilsEventService NilsEventService { get; set; } = null!;

    private int SelectedIndexOutOf2 { get; set; } = 0;
    private int SelectedIndexOutOf3 { get; set; } = 0;
    private int SelectedIndexOutOf4 { get; set; } = 0;
    private int SelectedIndexOutOf5 { get; set; } = 0;

    protected override async Task OnParametersSetAsync()
    {
        await OnRandomClicked();
        NilsEventService.OnRandomClicked += OnRandomClicked;
        base.OnParametersSet();
    }


    public async Task OnRandomClicked()
    {
        SelectedIndexOutOf2 = MainUtil.GetRandomIndex(2);
        SelectedIndexOutOf3 = MainUtil.GetRandomIndex(3);
        SelectedIndexOutOf4 = MainUtil.GetRandomIndex(4);
        SelectedIndexOutOf5 = MainUtil.GetRandomIndex(5);
        StateHasChanged();
    }


    public void Dispose()
    {
        NilsEventService.OnRandomClicked -= OnRandomClicked;
    }
}
