

<div class="main-prayer-buttons">
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.TimeOfSickness">
            During Sickness
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.AfterSickness">
            After Sickness
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ForOthersWhoAreSick">
            Others Who Are Sick
        </ButtonLink>
    </div>

    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ForDeparted">
            For the Departed
        </ButtonLink>
    </div>

    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ForPriests">
            For a Priest
        </ButtonLink>
    </div>

    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ForSoldiers">
            For a Soldier
        </ButtonLink>
    </div>

    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ForThoseWithDepression">
            For a Person with Depression
        </ButtonLink>
    </div>

    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.FromParentsForChildren">
            From Parents to Child
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.FromChildrenForParents">
            From Child For Parent
        </ButtonLink>
    </div>
    
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.OfHusbandAndWife">
            Of Husband and Wife
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.ToFindASpouse">
            To find a spouse
        </ButtonLink>
    </div>
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.FromSinglePersons">
            From a Single Person
        </ButtonLink>
    </div>
    
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.Repentance">
            Repentence
        </ButtonLink>
    </div>
    
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.StrugglingWithAddiction">
            Person Struggling with Addiction
        </ButtonLink>
    </div>
    
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.TimeOfTrouble">
            Time of Trouble
        </ButtonLink>
    </div>
    
    <div>
        <ButtonLink OnClick="() => this.PrayerChoice = OtherPrayerChoiceKind.NiceneCreed">
            Nicene Creed
        </ButtonLink>
    </div>
</div>


@code {
}
