
<a class="button-link" style="@(GetStyle())"
   @onclick="@(OnClick)">
    @ChildContent
</a>

@code {
    [Parameter, EditorRequired]
    public EventCallback OnClick { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; } = null!;

    [Parameter]
    public bool AllowWrap { get; set; } = false;

    [Parameter]
    public string BackgroundColor { get; set; } = StaticColors.DarkRed;

    [Parameter]
    public string ForeColor { get; set; } = StaticColors.LightBeige;

    private string GetStyle()
    {
        List<string> styles = [
            $"color: {ForeColor};",
            $"background-color: {BackgroundColor};",
        ];

        if (AllowWrap)
            styles.Add("white-space: normal;");
        else
            styles.Add("white-space: nowrap;");

        return string.Join(" ", styles);
    }
}
