
<InputSelect TValue="LanguageKindEnum"
             Value="SelectedLanguageKind"
             ValueExpression="@(() => SelectedLanguageKind)"
             ValueChanged="OnChanged">
    <option value="@LanguageKindEnum.EnglishModern">English (modern)</option>
    <option value="@LanguageKindEnum.EnglishOlder">English (older)</option>
</InputSelect>


@code {
    [Inject]
    public NilsAppState NilsAppState { get; set; } = null!;

    // [Parameter]
    // public EventCallback<LanguageKindEnum> OnLanguageKindChanged { get; set; }

    private LanguageKindEnum SelectedLanguageKind { get; set; } = LanguageKindEnum.EnglishModern;


    private async Task OnChanged(LanguageKindEnum selectedLanguageKind)
    {
        SelectedLanguageKind = selectedLanguageKind;
        NilsAppState.SelectedLanguageKind = selectedLanguageKind;
        // await OnLanguageKindChanged.InvokeAsync(selectedLanguageKind);
    }
}
