
<div class="loading-container" style="@GetLoadingContainerStyle()">
    @if (IsLoading)
    {
        
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    [Parameter, EditorRequired]
    public bool IsLoading { get; set; } = true;

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; } = null!;

    [Parameter]
    public string ContainerStyle { get; set; } = string.Empty;

    private string GetLoadingContainerStyle()
    {
        List<string> styles = [ContainerStyle,];

        return string.Join(" ", styles);
    }
}
