<div style="@(GetLoadingDivStyle())">
    @if (IsLoading)
    {
        <span class="loading-span">Loading...</span>
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    [Parameter, EditorRequired]
    public bool IsLoading { get; set; } = true;

    [Parameter]
    public bool IsInline { get; set; } = true;

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; } = null!;

    private string GetLoadingDivStyle()
    {
        var styles = new List<string>();

        if (IsInline)
            styles.Add("display: inline;");
        else
            styles.Add("display: block;");

        return string.Join(" ", styles);
    }
}
